* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.dark-bg {
  background-color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}
