* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.dark-bg {
  background-color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
}

ul {
  display: flex;
  gap: 12px;
  list-style-type: none;
  padding: 10px 50px 10px 50px;
}

li.logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.placeholder {
  background-color: white;
  width: 250px;
  height: 100px;
}

.hero-scnd,
.left-links {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  padding: 50px;
  gap: 20px;
}

button {
  background-color: #3882f6;
  padding: 5px 18px;
  font-size: 10px;
  color: white;
  border: none;
  border-radius: 5px;
}

.random {
  text-align: center;
  padding: 50px;
}

.random-box {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box {
  border: #3882f6 solid 2px;
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
